<head>
      <link rel="stylesheet" href="index.scss">
</head>

 <div class="tyoukyou">
  <div class="muti">
        激熱サウナ塾
      </div>
 </div>
 <h3>ユーザー投稿一覧</h3>
  <div class="doemus-container">
   <% @doemus.each do |t| %>
    <div class="doemu">
     <%= image_tag t.image_url, size: "250x200" if t.image? %>
    
     <%= link_to t.user.name, user_path(t.user.id) %>
      <h3>サウナ名:<%= t.name %></h3>

      
      <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                <%= link_to doemu_like_path(id: t.id, doemu_id: t.id), method: :delete do %>
                  <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
              <% else %>
                <%= link_to doemu_likes_path(id: t.id, doemu_id: t.id), method: :post do %>
                  <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>
              <% end %>
            <% else %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
      <%= link_to "詳細へ", doemu_path(t.id) %>

        
        <h2>総合評価<br>
        <span class="star-rating">
           <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
           <span class="star-rating-back">★★★★★</span>
        </span> 
        </h2>
  
        
        <h2>サウナレベル<br>
        <span class="star-rating">
           <span class="star-rating-front" style="width: <%= getPercent(t.level) %>%;">★★★★★</span>
           <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>
  <% end %>
   
   
  
      
      </div> 
      
  