<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @doemu do |f| %>
    <div class="field">
        <%= f.label :サウナ名 %>
        <%= f.text_field :name, :size => 30 %>
    </div>   

    <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    
    <div class="field">
        <%= f.label :住所 %>
        <%= f.text_field :address, :size => 30 %>
    </div>
    
    <div class="field">
        <%= f.label :説明 %>
        <%= f.text_area :about, :size => "30x2" %>
    </div>
    
    <div class="field">
        <%= f.label :金額 %>
        <%= f.number_field :money, :size => 10 %>
    </div>

    <div class="field">
        <%= f.label :アクセスについて  %>
        <%= f.text_area :access, :size => "30x2" %>
     </div>

     <!--- 総合評価の星の部分 ---------->

    <h5>総合評価</h5>
     <div class="post_form">
        <%= f.radio_button :overall, 5 ,id: 'star1'%>
        <label for="star1"><span class="text">最高</span>★</label>
    
        <%= f.radio_button :overall, 4 ,id: 'star2'%>
        <label for="star2"><span class="text">良い</span>★</label>
    
        <%= f.radio_button :overall, 3 ,id: 'star3'%>
        <label for="star3"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :overall, 2 ,id: 'star4'%>
        <label for="star4"><span class="text">悪い</span>★</label>
    
        <%= f.radio_button :overall, 1 ,id: 'star5'%>
        <label for="star5"><span class="text">最悪</span>★</label>
     </div>
<!--- 総合評価の星の部分終わり------->


<!--- 授業レベルの星の部分 ------------>
    <h5>サウナレベル</h5>
     <div class="post_form">
        <%= f.radio_button :level,  5 ,id: 'star6'%>
        <label for="star6"><span class="text">難しい</span>★</label>
    
        <%= f.radio_button :level,  4 ,id: 'star7'%>
        <label for="star7"><span class="text">やや難しい</span>★</label>
    
        <%= f.radio_button :level, 3 ,id: 'star8'%>
        <label for="star8"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :level , 2 ,id: 'star9'%>
        <label for="star9"><span class="text">やや簡単</span>★</label>
    
        <%= f.radio_button :level , 1 ,id: 'star10'%>
        <label for="star10"><span class="text">簡単</span>★</label>
     </div>
<!--- 総合評価の星の部分 ---------->
    <%= f.submit "投稿する" %>
<% end %>