<h1>(激熱サウナ塾)</h1>
<div class="rousoku">
 </div>
<h3>新規投稿ページ</h3>
<%= form_for @doemu do |f| %>
    <div class="field">
        <%= f.label :サウナ名 %>
        <%= f.text_field :name, :size => 30 %>
    </div>   

    <div class="field">
        <%= f.label :イメージ画像 %>
        <%= f.file_field :image %>
    </div>
    
    <div class="field">
        <%= f.label :住所 %>
        <%= f.text_field :address, :size => 30 %>
    </div>
    
    <div class="field">
        <%= f.label :説明 %>
        <%= f.text_area :about, :size => "30x2" %>
    </div>
    
    <div class="field">
        <%= f.label :金額 %>
        <%= f.number_field :money, :size => 10 %>
    </div>

    <div class="field">
        <%= f.label :アクセスについて  %>
        <%= f.text_area :access, :size => "30x2" %>
     </div>

     <!--- 総合評価の星の部分 ---------->

    <h5>総合評価</h5>
     <div class="post_form">
        <%= f.radio_button :overall, 5 ,id: 'star1'%>
        <label for="star1"><span class="text">最高</span>★</label>
    
        <%= f.radio_button :overall, 4 ,id: 'star2'%>
        <label for="star2"><span class="text">良い</span>★</label>
    
        <%= f.radio_button :overall, 3 ,id: 'star3'%>
        <label for="star3"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :overall, 2 ,id: 'star4'%>
        <label for="star4"><span class="text">悪い</span>★</label>
    
        <%= f.radio_button :overall, 1 ,id: 'star5'%>
        <label for="star5"><span class="text">最悪</span>★</label>
     </div>
<!--- 総合評価の星の部分終わり------->


<!--- サウナレベルの星の部分 ------------>
    <h5>サウナレベル</h5>
     <div class="post_form">
        <%= f.radio_button :level,  5 ,id: 'star6'%>
        <label for="star6"><span class="text">最高</span>★</label>
    
        <%= f.radio_button :level,  4 ,id: 'star7'%>
        <label for="star7"><span class="text">良い</span>★</label>
    
        <%= f.radio_button :level, 3 ,id: 'star8'%>
        <label for="star8"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :level , 2 ,id: 'star9'%>
        <label for="star9"><span class="text">悪い</span>★</label>
    
        <%= f.radio_button :level , 1 ,id: 'star10'%>
        <label for="star10"><span class="text">最悪</span>★</label>
     </div>
<!--- 総合評価の星の部分 ---------->
    <%= f.submit "投稿する" %>
    <%= form_with(model: @doemu, local: true) do |f| %>
        <div class="actions">
          <%= f.label :address,"住所" %>
          <%= f.text_field :address %>
          <%= f.label :lat,"緯度" %>
          <%= f.text_field :lat,:value =>"緯度", id: :lat %>
          <%= f.label :lng,"経度" %>
          <%= f.text_field :lng,:value =>"経度", id: :lng %>
         
        </div>
      <% end %>
      <h2>Map</h2>
      <input id="address" type="textbox" value="GeekSalon">
      <input type="button" value="検索" onclick="codeAddress()">
      <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
      <div id='map'></div>
      <style>
      #map {
        height: 600px;
        width: 600px;
      }
      </style>
      <script>
      //初期マップの設定
      let map
      let marker
      function initMap(){
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
          center:  {lat: 35.6803997, lng:139.7690174},  //東京
          zoom: 15,
          
        });
      }
      //検索後のマップ作成
      let geocoder
      let aft
      function codeAddress(){
        let inputAddress = document.getElementById('address').value;
        geocoder.geocode( { 'address': inputAddress}, function(results, status) {
          if (status == 'OK') {
              //マーカーが複数できないようにする
              if (aft == true){
                  marker.setMap(null);
              }
              //新しくマーカーを作成する
              map.setCenter(results[0].geometry.location);
                  marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location,
                  draggable: true // ドラッグ可能にする
              });
              //二度目以降か判断
              aft = true
              //検索した時に緯度経度を入力する
              document.getElementById('lat').value = results[0].geometry.location.lat();
              document.getElementById('lng').value = results[0].geometry.location.lng();
              // マーカーのドロップ（ドラッグ終了）時のイベント
              google.maps.event.addListener( marker, 'dragend', function(ev){
                  // イベントの引数evの、プロパティ.latLngが緯度経度
                  document.getElementById('lat').value = ev.latLng.lat();
                  document.getElementById('lng').value = ev.latLng.lng();
              });
          } else {
            alert('該当する結果がありませんでした：' + status);
          }
        });   
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvY9IGv985UPr5MjgyML5wfuLT_82Nx94&callback=initMap" async defer></script>
      <% end %>
